<div class="blog-post-home">
    <h3>{{blogPost.title}} </br>
        <span class="tagline">by {{blogPost.user.name}}</span>
    </h3>
    <p>{{blogPost.description}}</p>
    <p>Created on: {{format_date blogPost.createdAt}}</p>
</div>

{{#each blogComments as |comment|}}
<div class="comment-post">

    <p>{{comment.userName}} - {{comment.comment}}</p>
    <p>Comment created on: {{format_date comment.createdAt}}</p>
    <a href='/comment/{{comment.id}}' class="edit-comment">Edit or Delete Comment</a>
</div>

{{/each}}

<p>Leave a comment!</p>
<form class="comment-form">
    <div class="row">
        <div class="six columns">
            <label for="commentUserName">Your name</label>
            <input class="u-full-width" type="text" placeholder="Your cool username" id="user-name-input">
            <label for="comment-text">Comment</label>
            <textarea class="u-full-width" placeholder="What a great post …" id="comment-text"></textarea>
        </div>
    </div>
    <input class="button-primary" type="submit" value="Submit">
</form>

<script src="../js/comments.js"></script>